<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<!--
	BlueRobotics Ping Sonar
	Refer to: https://bluerobotics.com/store/sensors-sonars-cameras/sonar/ping-sonar-r2-rp/
	-->
	<xacro:macro name="bluerobotics_ping_sonar" params="namespace suffix parent_link topic *origin">
		<!-- Sensor link -->
		<link name="${namespace}/sonar${suffix}_link">
			<inertial>
				<inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001" />
				<mass value="0.015" />
				<origin xyz="0 0 0" rpy="0 0 0" />
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find gallipoli_auv_description)/meshes/sensors/ping_sonar/ping_sonar.dae" scale="0.1 0.1 0.1" />
				</geometry>
			</visual>
			<xacro:no_collision />
		</link>
		<joint name="${namespace}_sonar${suffix}_joint" type="revolute">
			<xacro:insert_block name="origin" />
			<parent link="${parent_link}" />
			<child link="${namespace}/sonar${suffix}_link" />
			<limit upper="0" lower="0" effort="0" velocity="0" />
			<axis xyz="1 0 0" />
		</joint>
		<gazebo reference="${namespace}/sonar${suffix}_link">
			<sensor type="ray" name="sonar${suffix}">
				<pose>
					0 0 0 0 0 0
				</pose>
				<visualize>
					false
				</visualize>
				<update_rate>
					10
				</update_rate>
				<ray>
					<scan>
						<horizontal>
							<samples>
								1
							</samples>
							<resolution>
								0.15
							</resolution>
							<min_angle>
								-${0.5*0.523599}
							</min_angle>
							<max_angle>
								${0.5*0.523599}
							</max_angle>
						</horizontal>
						<vertical>
							<samples>
								1
							</samples>
							<resolution>
								0.15
							</resolution>
							<min_angle>
								-${0.5*0.523599}
							</min_angle>
							<max_angle>
								${0.5*0.523599}
							</max_angle>
						</vertical>
					</scan>
					<range>
						<min>
							0.5
						</min>
						<max>
							30.0
						</max>
						<resolution>
							0.15
						</resolution>
					</range>
					<noise>
						<type>
							gaussian
						</type>
						<mean>
							0.0
						</mean>
						<stddev>
							0.5
						</stddev>
					</noise>
				</ray>
				<plugin filename="libgazebo_ros_range.so" name="sonar${suffix}_controller">
					<topicName>
						${topic}
					</topicName>
					<frameName>
						${namespace}/sonar${suffix}_link
					</frameName>
					<gaussianNoise>
						0.005
					</gaussianNoise>
					<alwaysOn>
						true
					</alwaysOn>
					<updateRate>
						10
					</updateRate>
					<visualize>
						true
					</visualize>
					<radiation>
						infrared
					</radiation>
					<fov>
						0.523599
					</fov>
				</plugin>
			</sensor>
		</gazebo>
	</xacro:macro>
</robot>
