<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xsens_mti_g710 namespace="${namespace}" topic="sensors/imu/data_raw" topic_mag="sensors/imu/mag" parent_link="${namespace}/base_link">
    <origin xyz="0.13823 0 -0.042273" rpy="0 0 0" />
  </xsens_mti_g710>
  
  <!-- <default_pose_3d_macro namespace="${namespace}" parent_link="${namespace}/base_link" inertial_reference_frame="${inertial_reference_frame}" /> -->
	
  <!-- <bluerobotics_bar30 namespace="${namespace}" topic="sensors/pressure" parent_link="${namespace}/base_link" suffix="">
    <origin xyz="0.02666 -0.019524 -0.084" rpy="0 ${1.0*pi} 0" />
  </bluerobotics_bar30> -->
  
  <!-- <bluerobotics_ping_sonar namespace="${namespace}" suffix="_bottom" parent_link="${namespace}/base_link" topic="sensors/sonar_bottom">
    <origin xyz="0.2967 -0.15 -0.28223" rpy="0 ${0.5*pi} 0" />
  </bluerobotics_ping_sonar> -->
</robot>
